<div id="<%= dom_id employee_detail %>">
  <p>
    <strong>Name:</strong>
    <%= employee_detail.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= employee_detail.age %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= employee_detail.gender %>
  </p>

  <p>
    <strong>Designation:</strong>
    <%= employee_detail.designation %>
  </p>

</div>
