<%= form_with(model: employee_detail) do |form| %>
  <% if employee_detail.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(employee_detail.errors.count, "error") %> prohibited this employee_detail from being saved:</h2>

      <ul>
        <% employee_detail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :age, style: "display: block" %>
    <%= form.number_field :age %>
  </div>

  <div>
    <%= form.label :gender, style: "display: block" %>
    <%= form.text_field :gender %>
  </div>

  <div>
    <%= form.label :designation, style: "display: block" %>
    <%= form.text_field :designation %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
